/* Menentukan ukuran font */
body {
    font-size: 20px;
    line-height: 1.5;
    background-color: grey;
    color: white;
}

table {
    margin: 10px;
    border-color: white;
    box-shadow: 5px 5px 10px grey;
}
th {
    padding: 10px;
    color: blue;
}

td {
    padding: 10px;
    color: red;
}
th:hover {
    background-color: #f39c12;
}

button {
    background-color: blue;
    color: white;
}

button:hover {
    background-color: darkgreen;
    color: red;
}

